fastapi
uvicorn
pydantic
python-multipart
scikit-learn==1.7.2
nltk
langchain
langchain-groq
langchain-huggingface
langchain-qdrant
qdrant-client
sentence-transformers
langchain-community
langchain-classic
pandas
numpy
python-dotenv
